openapi: 3.0.3
info:
  title: PDFfiller REST Applications Tools API
  description: 'The PDFfiller REST API allows developers to build applications that interact with PDFfiller over HTTP. It supports operations for managing documents, templates, fillable forms, fields, annotations, and eSignature requests. Authentication uses OAuth 2.0 with password or client credentials grant types. PDFfiller is part of the airSlate family of products.

    '
  version: '2.0'
  contact:
    name: PDFfiller Developer Support
    url: https://developers.pdffiller.com/
  license:
    name: Proprietary
    url: https://www.pdffiller.com/en/terms.htm
servers:
- url: https://api.pdffiller.com/v2
  description: PDFfiller API v2
security:
- oauth2: []
tags:
- name: Tools
  description: Document utility tools (merge, convert)
paths:
  /tools/merge:
    post:
      operationId: mergeDocuments
      summary: Merge PDF documents
      description: Merges multiple PDF documents into a single PDF file.
      tags:
      - Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeInput'
      responses:
        '200':
          description: Merged document
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID of the merged template
                  name:
                    type: string
                  url:
                    type: string
                    format: uri
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    MergeInput:
      type: object
      required:
      - documents
      properties:
        documents:
          type: array
          items:
            type: object
            properties:
              document_id:
                type: integer
                description: ID of the template to merge
          description: List of document IDs to merge in order
        name:
          type: string
          description: Name for the merged document
        folder_id:
          type: integer
          description: Folder ID for the merged document
    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        code:
          type: integer
  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.pdffiller.com/v2/oauth/token
          scopes:
            read: Read access
            write: Write access
        clientCredentials:
          tokenUrl: https://api.pdffiller.com/v2/oauth/token
          scopes:
            read: Read access
            write: Write access
